.artwork-container{
    position: relative;
    text-align: center;
    width: 100%;
}

.ship-card-header{
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 3em;
}

.artwork {
    opacity: .5;
    display: block;
    width: 100%;
    height: auto;
}

.dial {
    color: white;
}

.initiative {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    color: orange;
    font-size: 2em;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    color: white;
    top: 8px;
    left: 16px;
}

.center-left {
    position: absolute;
    color: white;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
}

.center-right {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
}

.top-center {
    position: absolute;
    color: white;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
}

.bottom-center {
    position: absolute;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 12px;
}

.stat {
    display: inline-block;
    margin: 5px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

@media screen and (max-width: 400px){
    .artwork-container{
        font-size: 1vm;
    }
}
